main {
    margin-top: 2.5rem;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.variable-qunatity-form {
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    min-height: 200px;
    max-width: 700px;
    margin: 0 auto;
}

.variable-qunatity-form .variables-quantity-alert {
    display: none;
    color: #c21010;
    font-size: 1rem;
    margin-top: 0.5em;
    
}

.variable-qunatity-form label {
    font-size: 2rem;
    font-weight: 500;
}

.variable-qunatity-form .label-for-solution {
    margin-top: 1em;
}

.variable-qunatity-form .variables-quantity, .variable-qunatity-form .solution {
    margin-top: 1em;
    padding: 1em;
    font-size: 1em;
    font-weight: 500;
    outline: none;
    border: solid 2px #2f2a38ef;
    border-radius: 5px;
}

.variable-qunatity-form .variables-quantity:focus, .variable-qunatity-form .solution:focus {
    border: solid 1px #090a0ad5;
    box-shadow: 0 0 15px #080808;
}

@media screen and (max-width: 600px) {
    .variable-qunatity-form label {
        font-size: 1rem;
    }
    .variable-qunatity-form .variables-quantity, .variable-qunatity-form .solution {
        padding: 0.5em;
        font-size: 0.9em;
    }
    .variable-qunatity-form .submit-button {
        padding: 0.75rem;
        min-width: 100%;
        max-width: 100%;
    }
}

.variable-qunatity-form label::before {
    content: '* ';
    font-size: 1rem;
    color: #c21010;
}



.variable-qunatity-form .submit-button {
    margin-top: 3rem;
    min-width: 70%;
    max-width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: #03989e;
    color: rgb(255, 255, 255);
    border-radius: 2em;   
    font-size: larger;
}

.variable-qunatity-form .submit-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .variable-qunatity-form label {
        font-size: 1.5rem;
    }
    .variable-qunatity-form .variables-quantity, .variable-qunatity-form .solution {
        padding: 0.5em;
        font-size: 0.9em;
    }
    .variable-qunatity-form .submit-button {
        padding: 0.75rem;
        min-width: 100%;
        max-width: 100%;
    }
}


.variables-values-inputs {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    background-color: #03989e;
    border-radius: 10px;
    margin-bottom: 30px;
} 

.variables-values-inputs div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    min-width: 70%;
}



.variables-values-inputs span {
    color: #FFF;
    margin-right: 15px;
    margin-bottom: 2px;
}

.variables-values-inputs input[type="text"] {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
}


.variables-values-inputs .get-answer-button {
    margin: 1rem auto;
    outline: none;
    border: none;
    padding: 1em;
    background-color: #FFF;
    color: #080808;
    min-width: 50%;
    font-size: 1.2rem;
    border-radius: 15px;
}

.variables-values-inputs .get-answer-button:hover {
    cursor: pointer;
    background-color: #c929bc;
    color: #FFF;
}